
<div class="card pf-card {{#if textCenter}}text-xs-center{{/if}} {{#if cardAccent}}pf-card--accented{{/if}} {{#if multiselect}}pf-card--multiselect pf-card--select{{/if}} {{#if singleselect}}pf-card--select{{/if}} {{#if selected}}pf-card--select--active{{/if}}">
{{#if cardHeader}}
  <div class="card-header">
    {{#if multiselect}}
      <label class="pf-card__checkbox">
        <input type="checkbox" {{#if selected}}checked{{/if}}>
      </label>
    {{/if}}
    {{#if cardKebab}}
      {{> basics-dropdown isKebab=true pullright=true }}
    {{/if}}
    {{#if cardHeaderDropdown}}
      {{> basics-dropdown dropdownText="Dropdown" pullright=true }}
    {{/if}}
    <{{cardTitleSize}} class="card-title">{{{cardTitle}}}</{{cardTitleSize}}>
  </div>
  <div class="card-block">
{{else}}
  <div class="card-block">
    {{#if multiselect}}
      <label class="pf-card__checkbox">
        <input type="checkbox" {{#if selected}}checked{{/if}}>
      </label>
    {{/if}}
    {{#if cardTitleIconLarge}}
        <div class="pf-card__top-element">{{> basics-icon iconFamily="pficon" iconName="pficon-middleware" iconModifier="pf-icon--circle pf-icon--lg" }}</div>
    {{/if}}
    {{#if cardTitleIconMedium}}
        <div class="pf-card__top-element">{{> basics-icon iconFamily="pficon" iconName="pficon-middleware" iconModifier="pf-icon--circle pf-icon--md" }}</div>
    {{/if}}
    {{#if cardKebab}}
      {{> basics-dropdown isKebab=true pullright=true }}
    {{/if}}
    {{#if noTitle}}
    {{else}}
      <{{cardTitleSize}} class="card-title">{{{cardTitle}}}</{{cardTitleSize}}>
    {{/if}}
{{/if}}
{{#if @partial-block}}
  {{> @partial-block}}
{{else}}
    <p class="card-text">{{{cardContents}}}</p>
{{/if}}
  </div>
{{#if cardFooter}}
  <div class="card-footer text-muted">
    {{#if cardFooterDropdown}}
      {{> basics-dropdown dropdownText="Dropdown" pullright=true }}
    {{/if}}
    {{{cardFooterContents}}}
  </div>
{{/if}}
</div>
