<div class="alert {{ alertClass }}" role="alert">
  <span class="pf-alert__icon pf-icon {{ alertIcon }}" aria-hidden="true"></span>
  <div class="pf-alert__text">
    <strong>{{ alertBoldText }}</strong> {{ alertText }} <a href="#" class="alert-link">{{ alertLinkText }}</a>.
  </div>
</div>