<select class="{{ formInputClass }} {{ formInputModifierClass }}" id="{{ formInputId }}" {{#if formDisabled}}disabled{{/if}} {{#if formHelp}} aria-describedby="{{formHelpId}}" {{/if}} {{#if formFeedbackMessage }} aria-describedby="{{formMessageId}}" {{/if}}>
  <option>Default select</option>
  <option>Option 1</option>
  <option>Option 2</option>
</select>