{{!--
formRightAligned - when set to true it'll display the label on the right of the form
formHelp - when set to true it'll display a help text line
--}}

<div class="form-group {{#if formRightAligned}}row{{/if}} {{ formGroupModifierClass }}">

  <label class="form-control-label {{#if formRightAligned}}col-sm-2 col-form-label{{/if}}" for="{{formInputId}}" {{#if formStaticControl}}id="{{labelID}}""{{/if}}>{{ formLabel }}</label>

  {{#if formRightAligned}}<div class="col-sm-10">{{/if}}

    {{#if formTextarea}}
      <textarea class="form-control" id="{{ formInputId }}" rows="3"
      {{#if formHelp}} aria-describedby="{{formHelpId}}"{{/if}}
      {{#if hasError}} aria-errormessage="{{formMessageId}}" aria-invalid="true"
      {{else formFeedbackMessage }} aria-describedby="{{formMessageId}}"{{/if}}>
      </textarea>
    {{else formStaticControl}}
      <p class="form-control-static" aria-labelledby="{{labelID}}">{{ formStaticControlText }}</p>
    {{else if formSelect }}
      {{> basics-select }}
    {{else}}
      {{> basics-input }}
    {{/if}}

    {{#if formFeedbackMessage }}
      <div class="form-control-feedback" id="{{formMessageId}}">Feedback message</div>
    {{/if}}

    {{#if formHelp }}
      <small class="form-text text-muted" id="{{formHelpId}}">{{ formHelpText }}</small>
    {{/if}}

    {{#if formRightAligned}}</div>{{/if}}

</div>
