<button class="btn {{ btnClass }}" {{#if btnAriaLabel}}aria-label="{{ btnAriaLabel }}" {{/if}}type="{{ btnType }}" {{#if tooltip}} data-toggle="tooltip" data-placement="right" title="{{tooltip}}" {{/if}} {{attributes}}>
 {{#if @partial-block}}
   {{> @partial-block }}
 {{/if}}
 {{ btnText }}
</button>